
{:source-paths ["src"]
 :dependencies [[mvc-works/hsl          "0.1.2"]]
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main bisection-key.main/main!
                :devtools {:after-load bisection-key.main/reload!}}
          :test {:target :node-script
                 :output-to "target/test.js"
                 :main bisection-key.test/main!
                 :devtools {:after-load bisection-key.test/reload!}}}}
